body {
  font-family: monospace;
  background-color: linen;
}

h1 {
  font-size: 50px;
  text-align: center;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

td {
  font-size: 15px;
  display: inline-block;
  border-top: 5px solid black;
  padding: 15px;
  text-align: left;
}

.lastRow {
  border-bottom: 5px solid black;
}


#pokeHeader {
  font-size: 25px;
  text-decoration: black underline;
}

.poke {
  max-width: 400px;
  border-radius: 15px;
  border-style: solid;
  border-color: black;
  margin: 1em;
  padding: 10px;
  box-shadow: 5px 10px steelblue;
  background-color: rgba(114, 158, 193, 0.618);
  color: black;
}

.pokeContainer {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
}

.imageContainer {
  text-align: center;
}

.imageSize {
  width: 250px;
}

.pokes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.searchDiv {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: 1em;
}

.button {
  background-color: steelblue;
  height: 2.5em;
  width: 6em;
  border: 0.25em solid black;
  font-family: monospace;
}

/* .pageDiv {
  display: flex;
  justify-content: center;
  text-align: center;
} */

/* .pageNumbers {
  margin: 0.25em;
  font-weight: bolder;
} */

#search {
  border: 0.25em solid black;
  height: 20px;
  width: 15em;
} 

nav {
display: flex;
align-content: center;
justify-content: center;
}

.navtext {
  color: black;
  text-decoration: underline black;
}

#detailPoke {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

#detailTable {
  margin-top: 10em;
  max-width: 290px;
  border-radius: 15px;
  border-style: solid;
  border-color: black;
  margin: 1em;
  padding: 10px;
  box-shadow: 5px 10px steelblue;
  background-color: rgba(114, 158, 193, 0.618);
  color: black;
}

#detailHeader {
  text-align: center;
}
